.holder {
  display: flex;
  flex-wrap: wrap;
  border: 3px solid black;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 300px;
  height: 100px;
}
.item:nth-child(1) {
  background-color: red;
  text-align: center;
  height: 50px;
  width: 150px;
  order: -3;
  border-top-left-radius: 20px;
}
.item:nth-child(2) {
  text-align: center;
  background-color: skyblue;
  height: 50px;
  width: 100px;
  order: 0;
}
.item:nth-child(3) {
  text-align: center;
  background-color: purple;
  height: 50px;
  width: 100px;
  order: -1;
}
.item:nth-child(4) {
  background-color: green;
  text-align: center;
  height: 50px;
  width: 100px;
  order: 1;
}
.item:nth-child(5) {
  background-color: yellow;
  text-align: center;
  height: 50px;
  width: 150px;
  order: -2;
  border-top-right-radius: 20px;
}
